<!DOCTYPE html>
<html th:include="template::modelo">
<main th:fragment="conteudo" class="bg-light"><br>
    <div>
        
        
            <div class="card">
                <img th:src="|image-upload/${prod.foto}|" class="card-img-top" style="height: 200px; width: auto; object-fit: scale-down;">
                <div class="card-body">
                    <h4 th:text="${prod.nomep}" class="card-title">Produto: X</h4>
                    <b>R$: </b><span th:text="${prod.preco}"class="card-text"></span><br>
                    <b>Endereço: </b><span th:text="${prod.endereco}"class="card-text">descricao</span>
                    
                </div>
    </div>
</main>



</html>
